# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
.env
*.log

# Virtual env
venv/
.env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar
docker-compose.override.yml

# Pytest
.cache/
htmlcov/
coverage.*

# Misc
*.swp
